#game {
    width: 30%;;
    height:60%;
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    border:5px solid darkorange;
    border-radius: 12px;
    background-color: antiquewhite;
    box-sizing: content-box;

}
#game > img {
    height:32.9%;
    width: 32.9%;

}

[data-i="0"]{
    visibility: hidden;
}

body {
    background-color: darkgreen !important;
}

@media only screen and (max-width:500px)  {
    #game{
        width: 98%;
    }
}
